body {
  padding: 10px
}

.problem-container {
  display: flex;
}

.inheritor {
  padding: 10px;
  width: 80px;
  height: 40px;
}

.basic-share-select, .final-share-input {
  padding: 10px;
  width: 80px;
  height: 40px;
}

.final-share-input {
  width: 160px;
}

.intermediate-share-input {
  padding: 10px;
  width: 160px;
}

