/* ----------------------------------------------------------------------------
* Variables
* ------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
* Colors
* ------------------------------------------------------------------------- */
$black: #242424;
$light-black: #2e2e2e;
$gray-6: #666666;
$gray-bg: #F7F7F7;
$gray-8: #828282;
$light-gray: #F9F9F9;
$gray-offset: #f2f2f2;
$blue: #123c69;
$brown-dark: #ab9371;
$brown-light: #c3aa87;
$brown-text: #e0be8e;
$white: #fff;

/* ----------------------------------------------------------------------------
* Fonts
* ------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,900|Playfair+Display&display=swap');
// Similar font to Muli 
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700&display=swap');
