<div class="show w-screen p-6">
  <div class="flex justify-evenly my-3 items-center">
    <button type="button" (click)="leftArrowClicked()">
      <div class="btn-ar-left flex flex-row align-middle"></div>
    </button>
    <h3>Problem {{ index === 0 ? "1" : index }}</h3>
    <button type="button" (click)="rightArrowClicked()">
      <div class="btn-ar flex flex-row align-middle"></div>
    </button>
  </div>
  <div>
    <h2>
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
        data-accordion-target="#accordion-collapse-body-1"
        aria-expanded="true"
        aria-controls="accordion-collapse-body-1"
      >
        <span>Heirs</span>
        <span class="chevron_up"></span>
      </button>
    </h2>
    <div
      id="accordion-collapse-body-1"
      aria-labelledby="accordion-collapse-heading-1"
    >
      <div class="show p-5 border border-b-0 border-gray-200">
        <p class="mb-2">You have these heirs:</p>
        <ng-container *ngFor="let problem of problemSet?.problem | keyvalue">
          <p class="inline-block mb-2 mr-2 font-bold">
            {{ problem?.key | inheritorPipe }},
          </p>
        </ng-container>
        <!-- Nested accordion -->
        <div>
          <h2>
            <button
              (click)="
                isNestedSharesAccordionOpen = !isNestedSharesAccordionOpen
              "
              type="button"
              class="flex items-center justify-between w-full p-5 rounded-t-xl font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
              data-accordion-target="#accordion-nested-collapse-body-1"
              aria-expanded="false"
              aria-controls="accordion-nested-collapse-body-1"
            >
              <span>Shares</span>
              <span
                [ngClass]="
                  isNestedSharesAccordionOpen ? 'chevron_up' : 'chevron_down'
                "
              ></span>
            </button>
          </h2>
          <div [ngClass]="{ hidden: !isNestedSharesAccordionOpen }">
            <p class="p-3">
              Calculate the <u>Shares</u> based on these <b>Heirs</b>
            </p>
            <form class="show max-w-sm mx-auto">
              <div
                *ngFor="let problem of problemSet?.problem | keyvalue"
                class="flex my-5"
              >
                <button
                  [ngClass]="
                    GENDER.daughter === problem?.key ||
                    GENDER.daughter_x2 === problem?.key ||
                    GENDER.daughter_of_son === problem?.key ||
                    GENDER.daughter_of_son_x2 === problem?.key ||
                    GENDER.mother === problem?.key ||
                    GENDER.sister === problem?.key ||
                    GENDER.sister_x2 === problem?.key ||
                    GENDER.paternal_halfsister === problem?.key ||
                    GENDER.paternal_halfsister_x2 === problem?.key ||
                    GENDER.maternal_halfsister === problem?.key ||
                    GENDER.maternal_halfsister_x2 === problem?.key ||
                    GENDER.wife === problem?.key ||
                    GENDER.grandmother_father === problem?.key ||
                    GENDER.grandmother_mother === problem?.key
                      ? 'bg-red-200'
                      : 'bg-blue-200'
                  "
                  class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
                  type="button"
                >
                  <img
                    class="max-w-10"
                    [src]="
                      GENDER.daughter === problem?.key ||
                      GENDER.daughter_x2 === problem?.key ||
                      GENDER.daughter_of_son === problem?.key ||
                      GENDER.daughter_of_son_x2 === problem?.key ||
                      GENDER.mother === problem?.key ||
                      GENDER.sister === problem?.key ||
                      GENDER.sister_x2 === problem?.key ||
                      GENDER.paternal_halfsister === problem?.key ||
                      GENDER.paternal_halfsister_x2 === problem?.key ||
                      GENDER.maternal_halfsister === problem?.key ||
                      GENDER.maternal_halfsister_x2 === problem?.key ||
                      GENDER.wife === problem?.key ||
                      GENDER.grandmother_father === problem?.key ||
                      GENDER.grandmother_mother === problem?.key
                        ? '../../../../../../assets/svg/Muslim_Women.svg'
                        : '../../../../../../assets/svg/Muslim_Man.svg'
                    "
                  />
                  <span> {{ problem?.key | inheritorPipe }}</span>
                </button>
                <select
                  class="form-control"
                  required
                  class="bg-gray-50 border border-gray-300 text-black text-sm rounded-e-lg border-s-gray-100 dark:border-s-gray-700 border-s-2 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                  <option selected disabled>Choose a share quantity</option>
                  <option *ngFor="let option of optionValues" [value]="option">
                    {{ option }}
                  </option>
                </select>
              </div>
            </form>
            <div class="flex my-4 justify-end">
              <button
                class="py-2 px-4 sm:px-6 bg-green-500 text-white font-semibold rounded hover:bg-green-600 transition-colors"
              >
                Check Answer
              </button>
            </div>
          </div>
          <h2>
            <button
              type="button"
              (click)="
                isNestedProblemBase_1AccordionOpen =
                  !isNestedProblemBase_1AccordionOpen
              "
              class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
            >
              <span>First Problem Base</span>
              <span
                [ngClass]="
                  isNestedProblemBase_1AccordionOpen
                    ? 'chevron_up'
                    : 'chevron_down'
                "
              ></span>
            </button>
          </h2>
          <div [ngClass]="{ hidden: !isNestedProblemBase_1AccordionOpen }">
            <p class="p-3">
              Calculate the <u>First Problem Base</u> based on these Heirs, the
              total pool they share is
              <b>{{
                problemSet?.intermediate_shares?.share_pool[
                  totalIntermediateShare
                ]
              }}</b>
            </p>
            <form class="show max-w-sm mx-auto">
              <div class="p-5">
                <div
                  *ngFor="let problem of problemSet?.problem | keyvalue"
                  class="flex my-5"
                >
                  <div
                    [ngClass]="
                      GENDER.daughter === problem?.key ||
                      GENDER.daughter_x2 === problem?.key ||
                      GENDER.daughter_of_son === problem?.key ||
                      GENDER.daughter_of_son_x2 === problem?.key ||
                      GENDER.mother === problem?.key ||
                      GENDER.sister === problem?.key ||
                      GENDER.sister_x2 === problem?.key ||
                      GENDER.paternal_halfsister === problem?.key ||
                      GENDER.paternal_halfsister_x2 === problem?.key ||
                      GENDER.maternal_halfsister === problem?.key ||
                      GENDER.maternal_halfsister_x2 === problem?.key ||
                      GENDER.wife === problem?.key ||
                      GENDER.grandmother_father === problem?.key ||
                      GENDER.grandmother_mother === problem?.key
                        ? 'bg-red-200'
                        : 'bg-blue-200'
                    "
                    class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
                    type="div"
                  >
                    <img
                      class="max-w-10"
                      [src]="
                        GENDER.daughter === problem?.key ||
                        GENDER.daughter_x2 === problem?.key ||
                        GENDER.daughter_of_son === problem?.key ||
                        GENDER.daughter_of_son_x2 === problem?.key ||
                        GENDER.mother === problem?.key ||
                        GENDER.sister === problem?.key ||
                        GENDER.sister_x2 === problem?.key ||
                        GENDER.paternal_halfsister === problem?.key ||
                        GENDER.paternal_halfsister_x2 === problem?.key ||
                        GENDER.maternal_halfsister === problem?.key ||
                        GENDER.maternal_halfsister_x2 === problem?.key ||
                        GENDER.wife === problem?.key ||
                        GENDER.grandmother_father === problem?.key ||
                        GENDER.grandmother_mother === problem?.key
                          ? '../../../../../../assets/svg/Muslim_Women.svg'
                          : '../../../../../../assets/svg/Muslim_Man.svg'
                      "
                    />
                    {{ problem?.key | inheritorPipe }}
                  </div>
                  <input
                    type="number"
                    id="large-input"
                    class="block w-full p-4 text-black border border-gray-300 bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  />
                </div>
              </div>
            </form>
            <div class="flex my-4 justify-end">
              <button
                class="py-2 px-4 sm:px-6 bg-green-500 text-white font-semibold rounded hover:bg-green-600 transition-colors"
              >
                Check Answer
              </button>
            </div>
          </div>
          <h2>
            <button
              type="button"
              (click)="
                isNestedProblemBase_2AccordionOpen =
                  !isNestedProblemBase_2AccordionOpen
              "
              class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
            >
              <span>Second Problem Base</span>
              <span
                [ngClass]="
                  isNestedProblemBase_2AccordionOpen
                    ? 'chevron_up'
                    : 'chevron_down'
                "
              ></span>
            </button>
          </h2>
          <div [ngClass]="{ hidden: !isNestedProblemBase_2AccordionOpen }">
            <p class="p-3">
              Calculate the <u>Second Problem Base</u> based on these Heirs, the
              total pool they share is
              <b>{{ problemSet?.final_shares?.total_shares }}</b>
            </p>
            <form class="show max-w-sm mx-auto">
              <div class="p-5">
                <div
                  *ngFor="let problem of problemSet?.problem | keyvalue"
                  class="flex my-5"
                >
                  <div
                    [ngClass]="
                      GENDER.daughter === problem?.key ||
                      GENDER.daughter_x2 === problem?.key ||
                      GENDER.daughter_of_son === problem?.key ||
                      GENDER.daughter_of_son_x2 === problem?.key ||
                      GENDER.mother === problem?.key ||
                      GENDER.sister === problem?.key ||
                      GENDER.sister_x2 === problem?.key ||
                      GENDER.paternal_halfsister === problem?.key ||
                      GENDER.paternal_halfsister_x2 === problem?.key ||
                      GENDER.maternal_halfsister === problem?.key ||
                      GENDER.maternal_halfsister_x2 === problem?.key ||
                      GENDER.wife === problem?.key ||
                      GENDER.grandmother_father === problem?.key ||
                      GENDER.grandmother_mother === problem?.key
                        ? 'bg-red-200'
                        : 'bg-blue-200'
                    "
                    class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-black bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
                    type="button"
                  >
                    <img
                      class="max-w-10"
                      [src]="
                        GENDER.daughter === problem?.key ||
                        GENDER.daughter_x2 === problem?.key ||
                        GENDER.daughter_of_son === problem?.key ||
                        GENDER.daughter_of_son_x2 === problem?.key ||
                        GENDER.mother === problem?.key ||
                        GENDER.sister === problem?.key ||
                        GENDER.sister_x2 === problem?.key ||
                        GENDER.paternal_halfsister === problem?.key ||
                        GENDER.paternal_halfsister_x2 === problem?.key ||
                        GENDER.maternal_halfsister === problem?.key ||
                        GENDER.maternal_halfsister_x2 === problem?.key ||
                        GENDER.wife === problem?.key ||
                        GENDER.grandmother_father === problem?.key ||
                        GENDER.grandmother_mother === problem?.key
                          ? '../../../../../../assets/svg/Muslim_Women.svg'
                          : '../../../../../../assets/svg/Muslim_Man.svg'
                      "
                    />
                    {{ problem?.key | inheritorPipe }}
                  </div>
                  <input
                    type="number"
                    id="large-input"
                    class="block w-full p-4 text-gray-900 border border-gray-300 bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  />
                </div>
              </div>
            </form>
            <div class="flex my-4 justify-end">
              <button
                class="py-2 px-4 sm:px-6 bg-green-500 text-white font-semibold rounded hover:bg-green-600 transition-colors"
              >
                Check Answer
              </button>
            </div>
          </div>
        </div>

        <!-- End: Nested accordion -->
      </div>
    </div>
    <h2 id="accordion-collapse-heading-2">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3"
        (click)="isFinalSolutionAccordionOpen = !isFinalSolutionAccordionOpen"
      >
        <span>Final Answer</span>
        <span
          [ngClass]="
            isFinalSolutionAccordionOpen ? 'chevron_up' : 'chevron_down'
          "
        ></span>
      </button>
    </h2>
    <div [ngClass]="{ hidden: !isFinalSolutionAccordionOpen }">
      <div class="p-5 border border-gray-200 dark:border-gray-700">
        <div class="show relative overflow-x-auto shadow-md sm:rounded-lg">
          <table
            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr>
                <th scope="col" class="px-6 py-3">Heir</th>
                <th scope="col" class="px-6 py-3">Shares</th>
                <th scope="col" class="px-6 py-3">First Problem Base</th>
                <th scope="col" class="px-6 py-3">Second Problem Base</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let newKey of keys"
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
              >
                <td class="px-6 py-4">
                  {{ problemSet.basic_shares[newKey] | json }}
                </td>
                <td class="px-6 py-4">
                  {{
                    problemSet.intermediate_shares.inheritance_pool[newKey]
                      | json
                  }}
                </td>
                <td class="px-6 py-4">
                  {{ problemSet.final_shares[newKey] | json }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
